{{#if logged_in}}
<section class="post-card">
    <header>
        <h3>{{pet_name}}</h3>

        <h4>{{pet_breed}}</h4>
    </header>   

    <img src="/images/{{file_name}}" alt="{{description}}">

    <div class="post-details">

        <p>{{description}}</p>
        <p>{{pet_name}} has been available from: {{format_date date_created}}</p>

    </div>
</section>
{{/if}}